@import url("../styles/variaveis.css");
@import url("../styles/header.css");
*{
    color: var(--branco-gelo);
}

.card-alunos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;
    height: 85vh;
}
.tabela-alunos{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td{
    border: 0.2px solid #ddd;
}
th, td{
    padding: 12px;
    text-align: left;
}
th{
    background-color: #0051e7;
}



